@media (min-width: 769px) {
  /* Adjusts  positioning of button to align with form inputs on large screen sizes */
  .button__calculate {
    position: relative;
    top: 38%;
  }
}

/* On smaller screens display fuel prices widget and remove navbar fuel widgets*/
@media(max-width: 1087px){
  .column__fuel-widget{
    max-width: 105px;
    background-color: white;
    border-radius: 5%;
    display: flex;
  }

  .navbar-end{
    display:none;
  }
}
/* On bigger screen sizes hide fuel prices widget */
@media(min-width: 1088px){
  .section__fuel-widget{
    display: none;
  }
}

html {
  height: 100%;
}

body {
  /* Before I added canvas rules the rule below helped to ensure that background color/image took up entire screen */
  /* min-height: 100%; */
  /* margin-top: 5%; */
}

.navbar-end{
  margin-left: 0px;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.section__title--top {
  text-align: center;
  padding-bottom: 20px;
}


.form__inputs{
  margin-bottom: 5%;
}

/* .section__paragraph--top {
  margin-bottom: 5%;
} */

.section__cards {
  display: none;
}

.section__cards--paragraph{
  line-height: 2em;
}

.section__cards--fuel-savings{
  margin-top: 3%;
}

/* .card {
  background-color: #af90a9;
} */

hr {
  width: 20%;
  margin: 24px auto 24px auto;
}

.button__calculate {
  display: block;
  margin: 0 auto 0 auto;
}

.button__recalculate {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  display: block;
}

.span__output {
  color: #6477cc;
}

/* Colors, resizes and repositions the info. icon on calculator cards */
.icon {
  color: #6477cc;
  font-size: 0.5em;
  position: relative;
  bottom: 10px;
  right: 5px;
  cursor: pointer;
}

/*Keeps Footer text fixed to bottom of page */
.footer__text{
  position:fixed;
  bottom:0px;
  left: 10px;
}

/* ---- reset ---- */
/* body{ 
  margin:0; font:normal 75% Arial, Helvetica, sans-serif; 
}  */


/* Particles.js Canvas */
canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

/* ---- particles.js container ---- */
#particles-js {
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  position: fixed;
  /* background-color: slategray; */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  /* background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%); */
  /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
